body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Card css */
.containerCard {
  margin: 50px 0;
}
.card {
  margin: 0 2% !important;
}
.infected {
  border-bottom: 10px solid yellow;
}
.recovered {
  border-bottom: 10px solid green;
}
.deaths {
  border-bottom: 10px solid red;
}

/* Chart css */
.containerChart {
  display: flex;
  justify-content: center;
  width: 85%;
}

/* country css */
.formControlCountry {
  width: 30%;
  margin-bottom: 30px !important;
}
